<form #f="ngForm" (ngSubmit) = "onSubmit(f.value,f)">
  <fieldset>
    <legend></legend>
  <div>
    <label for="Name">Name: </label> <br/>
    <input type = "text" name ="Name" id="Name" ngModel />
  </div><br/>
  <div>
    <label for="Country">Country: </label> <br/>
    <input type = "text" name ="Country" id="Country" ngModel />
  </div><br/>
  <div>
    <label for="Region">Region: </label> <br/>
    <input type = "text" name ="Region" id="Region" ngModel />
  </div><br/>
  <div>
    <label for="Place">Place: </label> <br/>
    <input type = "text" name ="Place" id="Place" ngModel />
  </div><br/>
  <div>
    <label for="AccommodationType">Accommodation Type: </label> <br/>
    <input type = "text" name ="AccommodationType" id="AccommodationType" ngModel />
  </div><br/>
  <div>
    <label for="BedCount">Bed Count: </label> <br/>
    <input type = "number" name ="BedCount" id="BedCount" ngModel />
  </div><br/>
  <div>
    <label for="Grade">Grade: </label> <br/>
    <input type = "number" name ="Grade" id="Grade" ngModel />
  </div><br/>
  <div>
    <label for="PriceMin">Price: </label>
    <input type = "number" name ="PriceMin" id="PriceMin" ngModel />
    <label for="PriceMax">to: </label>
    <input type = "number" name ="PriceMax" id="PriceMax" ngModel />
  </div><br/>
    <div>
    <input type = "submit" name="Filter"  value="filter" />
  </div>
  </fieldset>
</form>
<br/>
<br/>
<legend>Results</legend>
<ul>
  <li *ngFor ="let a of accommodations"><accommodation [accommodation]="a" ></accommodation></li>
</ul>