<form class="form-horizontal col-lg-3" #f="ngForm" (ngSubmit) = "onSubmit(f.value,f)">
  <fieldset>
    <legend></legend>
  <div class="form-group">
    <label class="col-md-3"  for="Name">Name: </label> <br/>
    <input class="form-control" type = "text" name ="Name" id="Name" ngModel />
  </div><br/>
  <div class="form-group">
    <label class="col-md-3" for="Country">Country: </label> <br/>
    <input class="form-control" type = "text" name ="Country" id="Country" ngModel />
  </div><br/>
  <div class="form-group">
    <label class="col-md-3" for="Region">Region: </label> <br/>
    <input class="form-control" type = "text" name ="Region" id="Region" ngModel />
  </div><br/>
  <div class="form-group">
    <label class="col-md-3" for="Place">Place: </label> <br/>
    <input class="form-control" type = "text" name ="Place" id="Place" ngModel />
  </div><br/>
  <div class="form-group">
    <label class="col-md-3" for="AccommodationType">Accommodation Type: </label> <br/>
    <input class="form-control" type = "text" name ="AccommodationType" id="AccommodationType" ngModel />
  </div><br/>
  <div class="form-group">
    <label class="col-md-3" for="BedCount">Bed Count: </label> <br/>
    <input class="form-control" type = "number" name ="BedCount" id="BedCount" ngModel />
  </div><br/>
  <div class="form-group">
    <label class="col-md-3" for="Grade">Grade: </label> <br/>
    <input class="form-control" type = "number" name ="Grade" id="Grade" ngModel />
  </div><br/>
  <div class="form-group">
    <label class="col-md-3" for="PriceMin">Price: </label>
    <input class="form-control" type = "number" name ="PriceMin" id="PriceMin" ngModel />
    <label class="col-md-3" for="PriceMax">to: </label>
    <input class="form-control" type = "number" name ="PriceMax" id="PriceMax" ngModel />
  </div><br/>
  <div class="form-group">
     <label class="col-md-3" for="Grade">Show: </label> <br/>
    <select class="form-control" name="entitiesPerPage" [(ngModel)]="entitiesPerPage">
      <option value="1" selected = "selected">1</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="100000">All</option>
    </select>
  </div><br/>
    <div class="form-group">
    <input class="btn btn-warning"  type = "submit" name="Filter"  value="filter" />
  </div>
  </fieldset>
</form>
<br/>
<br/>
<legend>Results</legend>
<ul>
  <li *ngFor ="let a of accommodations"><accommodation [accommodation]="a" ></accommodation></li>
</ul>
 <button class="btn btn-danger" *ngIf="shouldShowPrevious()" (click)="previous()">Previous</button>
  <button class="btn btn-danger" *ngIf="shouldShowNext()" (click)="next()">Next</button>