<form #f="ngForm" (ngSubmit) = "onSubmit(f.value, f)">
  <div>
    <label for="FirstName">First Name: </label> <br/>
    <input type = "text" name ="FirstName" id="FirstName" ngModel />
  </div>
  <div>
    <label for="LastName">Last Name: </label> <br/>
    <input type = "text" name ="LastName" id="LastName" ngModel />
  </div>
  <div>
    <label for="Email">Email: </label> <br/>
    <input type = "email" name ="Email" id="Email" ngModel />
  </div>
  <div>
    <label for="Password">Password: </label> <br/>
    <input type = "password" name ="Password" id="Password" ngModel />
  </div>
  <div>
    <label for="ConfirmPassword">Confirm password: </label> <br/>
    <input type = "password" name ="ConfirmPassword" id="ConfirmPassword" ngModel />
  </div>
  <div>
    <input type = "submit" name="Register" value="Register" />
  </div>
</form>
