<form class="form-horizontal col-sm-3" #f="ngForm" (ngSubmit) = "onSubmit(f.value, f)">
  <div class="form-group">
    <label class="col-md-3"  for="FirstName">First Name: </label> <br/>
    <input class="form-control" type = "text" name ="FirstName" id="FirstName" ngModel />
  </div>
  <div class="form-group">
    <label class="col-md-3" for="LastName">Last Name: </label> <br/>
    <input class="form-control" type = "text" name ="LastName" id="LastName" ngModel />
  </div>
  <div class="form-group">
    <label class="col-md-3" for="Email">Email: </label> <br/>
    <input class="form-control" type = "email" name ="Email" id="Email" ngModel />
  </div>
  <div class="form-group">
    <label class="col-md-3" for="Password">Password: </label> <br/>
    <input class="form-control" type = "password" name ="Password" id="Password" ngModel />
  </div>
  <div class="form-group">
    <label class="col-md-3" for="ConfirmPassword">Confirm password: </label> <br/>
    <input class="form-control" type = "password" name ="ConfirmPassword" id="ConfirmPassword" ngModel />
  </div>
  <div class="form-group">
    <input class="btn btn-info" type = "submit" name="Register" value="Register" />
  </div>
</form>
