<form #f="ngForm" (ngSubmit) = "onSubmit(f.value, f)">
  <fieldset>
    <legend>add new Accommodation</legend>
  <div>
    <label for="Name">Name: </label> <br/>
    <input type = "text" name ="Name" id="Name" ngModel />
  </div> <br/>
  <div>
    <label for="Description">Description: </label> <br/>
    <textarea name="Description" ngModel >Enter description here...</textarea>
  </div> <br/>
  <div>
    <label for="Address">Address: </label> <br/>
    <input type = "text" name ="Address" id="Address" ngModel />
  </div> <br/>
  <div>
    <label for="Latitude">Latitude: </label> <br/>
    <input type = "number" name ="Latitude" id="Latitude" min="0" ngModel />
  </div> <br/>
  <div>
    <label for="Longitude">Longitude: </label> <br/>
    <input type = "number" name ="Longitude" id="Longitude" min="0" ngModel />
  </div> <br/>

  <div>
    <label for="ImageUrl">Image: </label> <br/>
    <input type = "file" name ="ImageUrl" id="ImageUrl" (change)="onChange($event)" ngModel />
  </div> <br/>

  <div>
    <label for="AccommodationTypeId">AccommodationType: </label><br/>
    <select name="AccommodationTypeId" id="AccommodationTypeId" ngModel >
      <option value="">None</option>
      <option *ngFor ="let at of accommodationtypes" value={{at.Id}} >{{at.Name}}</option>
    </select>
  </div><br/>
 <div>
    <input type = "submit" name="Submit"  value="add" />
  </div>
  </fieldset>
</form>