<h3>
  Welcome to the best booking site EVER !
</h3>
  <ul>
    <li> <a [routerLink]= "['/home/accommodations']"> Accommodations </a></li>
    <li> <a [routerLink]= "['/home/accommodationtypes']"> AccommodationTypes </a></li>
    <li> <a [routerLink]= "['/home/comments']"> Comments </a></li>
    <li> <a [routerLink]= "['/home/countries']"> Countries </a></li>
    <li> <a [routerLink]= "['/home/places']"> Places </a></li>
    <li> <a [routerLink]= "['/home/regions']"> Regions </a></li>     
    <li> <a [routerLink]= "['/home/rooms']"> Rooms </a></li>
    <li> <a [routerLink]= "['/home/roomreservations']"> RoomReservations </a></li>
  </ul>  
<router-outlet> </router-outlet>