 <fieldset>
   <legend>room detail view</legend>

   <div *ngIf="shouldShowEdit()">
     <edit-room [room]="room" ></edit-room>
  </div>

  <div *ngIf="!shouldShowEdit()">
    <p>RoomNumber: {{room.RoomNumber}}</p>
    <p>BedCount: {{room.BedCount}}</p>
    <p>Description: {{room.Description}}</p>
    <p>PricePerNight: {{room.PricePerNight}}</p>
  </div>

  <add-roomreservation  *ngIf="shouldShowAdd()" [room]="room" ></add-roomreservation>

  <p>RoomReservations:</p>
  <ul>
    <div *ngFor ="let rr of room.RoomReservations">
    <li *ngIf="showRR(rr)" ><roomreservation [roomreservation]="rr" (onRoomReservationDeleted)="roomreservationWasDeleted($event)" ></roomreservation></li>
    </div>
  </ul>
 </fieldset>