<fieldset>
  <legend>accommodationtype detail view</legend>

  <div *ngIf="shouldShowEdit()">
    <edit-accommodationtype [accommodationtype]="accommodationtype" > </edit-accommodationtype>
  </div>

  <div *ngIf="!shouldShowEdit()">
  <p>Name: {{accommodationtype.Name}}</p>
  </div>
  
  <p>Accommodations:</p>
  <ul>
    <li *ngFor ="let a of accommodationtype.Accommodations"><accommodation [accommodation]="a" (onAccommodationDeleted)="accommodationWasDeleted($event)" ></accommodation></li>
  </ul>
</fieldset>