<form #f="ngForm" (ngSubmit) = "onSubmit(f)">
  <fieldset>
    <legend>edit room</legend>
  <div>
    <label for="RoomNumber">RoomNumber: </label> <br/>
    <input type = "number" name ="RoomNumber" id="RoomNumber" min="1" step="1" [(ngModel)]="room.RoomNumber" />
  </div><br/>
  <div>
    <label for="BedCount">BedCount: </label> <br/>
    <input type = "number" name ="BedCount" id="BedCount" min="1" step="1" [(ngModel)]="room.BedCount" />
  </div> <br/>
  <div>
    <label for="Description">Description: </label> <br/>
    <textarea name="Description" [(ngModel)]="room.Description" >Enter description here...</textarea>
  </div> <br/>
  <div>
    <label for="PricePerNight">PricePerNight: </label> <br/>
    <input type = "number" name ="PricePerNight" id="PricePerNight" min="1" [(ngModel)]="room.PricePerNight" />
  </div> <br/>
    <div>
    <input class="btn btn-danger" type = "submit" name="Submit"  value="edit" />
  </div>
  </fieldset>
</form>