 <fieldset>
   <legend>accommodation detail view</legend>

   <div *ngIf="shouldShowEdit()">
     <edit-accommodation [accommodation]="accommodation" ></edit-accommodation>
     <p>AccommodationTypeId: {{accommodation.AccommodationTypeId}}</p>
  </div>

  <div *ngIf="!shouldShowEdit()">
    <p>Name: {{accommodation.Name}}</p>
    <p>Description: {{accommodation.Description}}</p>
    <p>Address: {{accommodation.Address}}</p>
    <p>AvrgeGrade: {{accommodation.AvrgeGrade}}</p>
    <p>Latitude: {{accommodation.Latitude}}</p>
    <p>Longitude: {{accommodation.Longitude}}</p>
    <p>AccommodationTypeId: {{accommodation.AccommodationTypeId}}</p>
  </div>

  <accommodation-map [accommodation] ="accommodation"> </accommodation-map>

  <add-room *ngIf="shouldShowAdd()" [accommodation]="accommodation" ></add-room>

  <p>Rooms:</p>
  <ul>
    <li *ngFor ="let r of accommodation.Rooms"><room [room]="r" (onRoomDeleted)="roomWasDeleted($event)" ></room></li>
  </ul>
 
  <p>Comments:</p>
  <ul>
    
  </ul>
 </fieldset>