 <fieldset>
   <legend>place detail view</legend>

   <div *ngIf="shouldShowEdit()">
     <edit-place [place]="place" ></edit-place>
  </div>

  <div *ngIf="!shouldShowEdit()">
  <p>Name: {{place.Name}}</p>
  </div>

  <add-accommodation *ngIf="shouldShowAdd()" [place]="place" ></add-accommodation>

  <p>Accommodations:</p>
  <ul>
    <div *ngFor ="let a of place.Accommodations">
    <li *ngIf="show(a)" ><accommodation [accommodation]="a" (onAccommodationDeleted)="accommodationWasDeleted($event)" ></accommodation></li>
    </div>
  </ul>
 </fieldset>